.btn-icon{
    width:16px;
    height:16px;
    background-image:url('/content/images/IconSprite.png');
}

    button .btn-icon.btn-icon-add{
        background-position:-1px -2416px;
    }
    button .btn-icon.btn-icon-duplicate {
        background-position: -1px -1888px;
    }
    button .btn-icon.btn-icon-edit {
        background-position: -1px -1872px;
    }
    button .btn-icon.btn-icon-delete {
        background-position: -1px -2048px;
    }
    button .btn-icon.btn-icon-refresh {
        background-position: -1px -2586px;
    }
    button .btn-icon.btn-icon-save {
        background-position: -1px -768px;
    }
    button .btn-icon.btn-icon-save-add {
        background-position: -1px -737px;
    }
    button .btn-icon.btn-icon-close {
        background-position: 0px -1952px;
    }
    button .btn-icon.btn-icon-help {
        background-position: 0px -1600px;
    }
    .btn-icon.btn-icon-upload {
        background-position: 0 -960px;
    }

    button .btn-text{
        margin-left:4px;
    }

    .btn-view-email {
        width: 16px;
        height: 16px;
        background-image: url('/content/images/viewEmail.png');
    }

.btn-default {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: unset;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    outline: none;
}

    .btn-default:hover {
        border-color: #0973b9;
        background-color: #ffffff;
        cursor: pointer;
    }


.btn-secondary {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    outline: none;
    border-radius: unset;
    padding: 4px 12px;
}

    .btn-secondary:hover {
        background-color: #178ad6;
        color: white;
        cursor: pointer;
    }

table thead button {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    outline: none;
    border-radius: unset;
    padding: 8px 10px 0px 10px;
}

    table thead button:hover {
        background-color: #178ad6;
        color: white;
        cursor: pointer;
    }