.form-dialog{
    position:absolute;
}

.dialog-modal{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000000;
    opacity:.4;
}

.dialog{
    position:fixed;
    width:700px;
    height:380px;
    background-color:#ffffff;
    top:calc(50% - 200px);
    left:calc(50% - 300px);
    border-radius: 5px;
    border: 5px solid #0072bc;
}

    .dialog .dialog-titlebar{
        color:#ffffff;
        width:100%;
        background-color:#0072bc;
        height: 30px;
    }
        
        .dialog .dialog-titlebar .title{
            float:left;
            line-height: 25px;
            padding-left: 4px;
        }

        .dialog .dialog-titlebar .btn-close{
            position:absolute;
            top:5px;
            right: 5px;
            text-align: center;
            width:16px;
            height: 16px;
            float:right;
            line-height: 13px;
            font-weight: 500;
            border-radius:50%;
            background-color:#ffffff;
            color: #0072bc;
            cursor:pointer;
        }

    .dialog .dialog-body{
        padding: 8px;
    }


.dialog-body .row{
    display:flex;
    margin-bottom:4px;
}
    .dialog-body .row .row-item{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .dialog-body .row .row-item.upload-image {
        align-items: flex-start;
    }

    .dialog-body .row .row-item.f-start {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }



    .dialog-body .w-50 input[type="text"], input[type="date"] {
        margin-left: 15px;
        width: 192px;
    }

    .dialog-body .w-100 input[type="text"], textarea {
        width: 544px;
    }

    .dialog-body input[type="text"], textarea, input[type="date"] {
        border-radius: unset;
        border: 1px solid #ccc;
        padding: 4px;
        outline: none;
    }

        .dialog-body input[type="text"]:focus, textarea:focus {
            border: 1px solid #0072bc;
        }

.dialog-body .input-file {
    padding: 4px 12px;
    width: 80px !important;
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .dialog-body .input-file:hover {
        color: white;
        background-color: #0072bc;
    }

    /*.dialog-body .row div {
        display: flex;
      
    }

    

    




    



    */

.dialog .dialog-footer{
    display:flex;
    justify-content:space-between;
    padding: 8px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:auto;
    background-color: white;
}

    .dialog .dialog-footer .footer-left{
        /*position:absolute;
        left:8px;*/
    }

    .dialog .dialog-footer .footer-right{
       
        display:flex;
    }

.dialog .img-thumbnail{
    width:85px;
    height:85px;
}


.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}