.grid {
    width: 100%;
    position: relative;
    height: calc(100% - 28px);
    border: 1px solid #ccc;
    border-top: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

table {
    height: calc(100% - 30px);
    border-collapse: collapse;
    border-color: #ccc;
    overflow-y: auto;
    display: block;
    background-color: #ededed;
}

    table thead{
        border-top:none;
        background:#ededed;
        
    }

        table thead th {
            font-weight: normal;
            position: sticky;
            top: 0;
            background-color: #ededed;
        }

        table thead input {
            width:100%;
            border-radius: unset;
            border: 1px solid #ccc;
            padding: 4px;
            outline: none;
        }

        table thead .col-title{
            height:30px;
            display:flex;
            align-items:center;
            justify-content:center;
        }

    table tr td{
        max-width:20%;
        padding: 2px 8px;
        border:1px solid #ccc;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;

    }

    table tbody {
        height:100%;
        overflow:hidden;
    }

        table tbody tr{
            height:25px;
        }


        table tbody tr:hover{
            background-color:#bfd1fe;
            cursor:pointer;
        }

    table tbody tr.row-selected{
        background-color:#a4befc;
    }

    table th{
        max-width:20%;
    }

/*Pagination*/
.pagination {
    width: 100%;
    height: 30px;
    border-top: 1px solid #ccc;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    .pagination button {
        border-style: solid;
        border-width: 1px;
        border-color: transparent;
        outline: none;
        
    }
        .pagination button:hover {
            border-color: #0973b9;
            cursor: pointer;
        }
        
    .pagination .p-left{
        display:flex;
        align-items:center;
    }
        .pagination .p-left .page-first {
            background: url("/content/images/grid/page-first.png") no-repeat;
            height: 28px;
            width: 28px;
            background-position: center center;
        }

        .pagination .p-left .page-prev {
            background: url("/content/images/grid/page-prev.png") no-repeat;
            height: 28px;
            width: 28px;
            background-position: center center;
        }

        .pagination .p-left .page-next {
            background: url("/content/images/grid/page-next.png") no-repeat;
            height: 28px;
            width: 28px;
            background-position: center center;
        }

        .pagination .p-left .page-last {
            background: url("/content/images/grid/page-last.png") no-repeat;
            height: 28px;
            width: 28px;
            background-position: center center;
        }

        .pagination .p-left .page-refresh {
            background: url("/content/images/grid/refresh.png") no-repeat;
            height: 28px;
            width: 30px;
            background-position: center center;
        }

        .pagination .p-left #txtPageCurrent {
            height:22px;
            width: 38px;
            margin:auto 2px;
            border: 1px solid #ccc;
            padding-bottom:0px;
            outline:none;
        }
        
    .pagination .p-right{
        display:flex;
        align-items:center;
        padding-right:8px;
    }