body {
    margin:0px;
    font-size:13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-primary{
    background-color:#0973b9;
}

.bg-white{
    background-color:white;
}

.bg-ghostwhite {
    background-color:ghostwhite;
}

.align-center{
    text-align: center;
}
.align-right{
    text-align:right;
}

.m-required{
    color:red;
}

.mr-4p{
    margin-right:4px;
}

.mr-8p{
    margin-right:8px;
}

.pr-20p{
    padding-right:20px;
}

.pb-6p{
    padding-bottom:6px;
}

.m-0p{
    margin:0px;
}


.flex-align-center{
    display:flex;
    align-items:center;
}

.input-invalid {
    border: 1px solid red !important;
}
