.popup-ovelay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.50);
    z-index:99999
}

    .popup-ovelay .popup-dialog {
        width: 400px;
        height: auto;
        margin: 200px auto 0px;
        background-color: #fff;
        border: 5px solid #0072bc;
        border-radius: 5px;
        overflow: hidden;
    }

        .popup-ovelay .popup-dialog .dialog-header {
            color: #ffffff;
            width: 100%;
            background-color: #0072bc;
            height: 30px;
            /*display:flex;
            align-items:center;*/
            line-height:30px;
        }

        .popup-ovelay .popup-dialog .dialog-body {
            display:flex;
            padding: 8px;
        }

        .popup-ovelay .popup-dialog .dialog-footer {
            display:flex;
            justify-content:flex-end;
            padding: 8px;
        }

        .popup-ovelay .popup-dialog .btn-popup{
            padding-left:20px;
            padding-right:20px;
        }

/*Dialog body*/
.dialog-body .body-left{
    margin-right:8px;
}
.dialog-body .icon-popup {
    width: 48px;
    height: 48px;
    background: url("/content/images/info.png") no-repeat center;
    background-size: 100% 100%;
}

.dialog-body .body-right{

}

.dialog-body .body-right #txtMessage{
    font-weight:500;
}





